<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ICT HIGH SCHOOL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../assets/img/favicon.png" rel="icon"> FOR ICON -->
  <!-- <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Updated: May 04 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">
<!-- header start -->
  <%- include('partial/header.ejs') %>
  <!-- header end -->

<!-- main start -->
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="../img/admission.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">Begin your journey with <br>
          the first step in the <br>
          right direction</h2>
        <p data-aos="fade-up" data-aos-delay="200">When ambition meets opportunity,</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <!-- <a href="courses.html" class="btn-get-started">ADMISSION'S</a> -->
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    
    
    <!-- /About Section -->

    <!-- Counts Section -->
    <!-- /Counts Section -->

           
    <!-- feature section end -->
<h1><b>ADMISSION PROCEDURE</b></h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa perspiciatis perferendis magni temporibus, dolores porro autem accusantium ea cum minus. Praesentium iste distinctio culpa rerum consequuntur sint perferendis. Totam, dolorem.</p>
  <p>lorem200 Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium autem, cupiditate quia quidem voluptatem quibusdam cumque dolores ducimus harum nulla magnam eos vero tempora ex animi quo earum suscipit totam aut soluta dolorem assumenda. Tempore, velit officia dignissimos, odit aut qui commodi voluptates possimus ad, laudantium error. Itaque voluptatem quasi, obcaecati sequi illum nesciunt eveniet praesentium sapiente voluptate harum libero culpa modi asperiores nostrum ipsum vel repellendus reprehenderit nemo architecto perferendis a iste expedita. Perspiciatis fugiat nobis dolorem exercitationem quod quisquam molestiae corrupti, ipsum veritatis provident nihil rem ea et assumenda omnis laborum aut. Maxime, dolorem aliquam. Facilis, iste molestias! </p>

    

  </main>
  <!-- main end -->

  <body>
    <div class="container">
        <header>Admission Form</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Student Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Student Name</label>
                            <input type="text" placeholder="Enter name" required>
                        </div>

                        <div class="input-field">
                            <label>Father/Guardian's Name</label>
                            <input type="text" placeholder="Enter Father Name" required>
                        </div>

                        <!-- <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div> -->
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Guardian's Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>                                
                            </select>
                        </div>

                        <div class="input-field">
                            <label>B-Form No</label>
                            <input type="number" placeholder="Enter your B-Form" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <!-- <span class="title"> which class did You Apply </span> -->

                    <div class="fields">
                        <div class="input-field">
                            <label>Student Age </label>
                            <input type="number" placeholder="Enter Age" required>
                        </div>

                        <div class="input-field">
                            <label>Apply for which class</label>
                            <select required>
                                <option disabled selected>Select Class</option>
                                <option>Montessori</option>
                                <option>Kinder Garden 1</option>                                
                                <option>Kinder Garden 2</option>
                                <option>Class 1</option>                                
                                <option>Class 2</option>                                
                                <option>Class 3</option>                                
                                <option>Class 4</option>                                
                                <option>Class 5</option>                                
                                <option>Class 6</option>                                
                                <option>Class 7</option>                                
                                <option>Class 8</option>                                
                                <option>Class 9</option>                                
                                <option>Class 10</option>                                
                                                              
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" placeholder="Nationality" required>
                        </div>

                        <div class="input-field address">
                            <label>Religion</label>
                            <input type="text" placeholder="Religion" required>
                        </div>

                        <div class="input-field">
                            <label>Phone Number</label>
                            <input type="number" placeholder="Phone Number" required>
                        </div>

                        <div class="input-field">
                            <label>Student Email</label>
                            <input type="email" placeholder="Enter Email" required>
                        </div>
                    </div>
<br><br>
                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">Address Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Residential Address </label>
                            <input type="text" placeholder="Enter Address" required>
                        </div>

                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" placeholder="Enter nationality" required>
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter your state" required>
                        </div>

                        <div class="input-field">
                            <label>District</label>
                            <input type="text" placeholder="Enter your district" required>
                        </div>

                        <div class="input-field">
                            <label>Block Number</label>
                            <input type="number" placeholder="Enter block number" required>
                        </div>

                        <div class="input-field">
                            <label>Postal Code</label>
                            <input type="number" placeholder="Enter ward number" required>
                        </div>
                    </div>
                </div>

                <div class="details family">
                    <span class="title">Family Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Father/Guardian's Name</label>
                            <input type="text" placeholder="Enter Father/Guardian's name" required>
                        </div>

                        <div class="input-field">
                            <label>Father/Guardian's CNIC No</label>
                            <input type="number" placeholder="Enter CNIC No" required>
                        </div>

                        <div class="input-field">
                            <label>Phone Number</label>
                            <input type="number" placeholder="Enter Phone Number" required>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <select required>
                                <option disabled selected>Select Occupation</option>
                                <option>Business</option>
                                <option>Employee</option>                                
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Father/Guardian's Email</label>
                            <input type="text" placeholder="Email" required>
                        </div>

                        <div class="input-field">
                            <label>Phone No 2 </label>
                            <input type="number" placeholder="Enter Phone Number" required>
                        </div>
                    </div>

                   <div class="buttons">
                        <div class="backBtn" style="width: 100px;">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button class="sumbit" style="width: 100px;" >
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

  
    <script src="js/index.js"></script>
</body>

  <!-- footer start -->
  <%- include('partial/footer.ejs') %>
  <!-- footer end -->

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/aos/aos.js"></script>
  <script src="../vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>