<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ICT HIGH SCHOOL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../assets/img/favicon.png" rel="icon"> FOR ICON -->
  <!-- <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Updated: May 04 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">
<!-- header start -->
  <%- include('partial/header.ejs') %>
  <!-- header end -->

<!-- main start -->
 <!-- Page Title -->
 <div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Blog</h1>
          <p class="mb-0"></p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
  </nav>
</div><!-- End Page Title -->


<!-- Blog Details Section -->
<div id="blog-details" class="blog-details section">
  <div class="container">

    <article class="article">

      <div class="post-img">
        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
      </div>

      <h2 class="title"><p>students learning how to use Digi skills as a platform to enrol and learn skills.</p></h2>

      <div class="meta-top">
        <ul>
          <li class="d-flex align-items-center"><i class="bi bi-person"></i> &nbsp; Faiz Azhar</li>
          <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01"> &nbsp; May 29, 2024</time></li>
          <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">&nbsp; 12 Comments</a></li> -->
        </ul>
      </div><!-- End meta top -->

      <div class="content">
        <p>
          1.	On December 1st, 2nd and 3rd connected Pakistan conference happened in Islamabad in which multiple people from Pakistan, freelancers and business leaders were able to showcase their efforts Infront of a wider audience. The students attended the conference and were awarded for being an excellent audience throughout, they met a lot of renowned business men such as Irfan Junejo and Umair aliawala. The conference set the pace for the CPP activities that were to be conducted later on
        </p>

        <p>
          2.	This activity is called “what would you do if you had 100 rupees”. It was an introduction to financial literacy module conducted by Leaning ka Wheel core team members. Here the students are very excitedly putting up their notes.
        </p>

        <blockquote>
          <p>
            3.	This picture is an activity called “lemon to lemonade” in which in order to learn the fundamentals of business they are handed all the materials of starting their own lemonade stand and then they are allowed to make teams and sell the lemonade among themselves. This activity taught students the concept of team building, startup capital, marketing and finance.
          </p>
        </blockquote>

        <p>
          4.	In order to develop a sense of the difference between a job and a career, the students were given multiple opportunities of doing jobs around the school. This served a two-fold purpose, the teacher now got a helping hand and the students also had the experience of how it is performing jobs.
        </p>

        <p>
          5.	As soon as the students heard that there are jobs displayed, they rushed in their break and free period to do them. Soon after, on the same day all the jobs were taken!
        </p>

        <p>
          6.	A gratitude system was launched in school in which the students were given tokens against their jobs by the teachers themselves, this served as compensation for these students. They loved doing the jobs and they get a reward as a result!
        </p>

        <p>
          7.	A freelancer was invited for a session who has been offering his services for the past 10 years. He shared his humble beginnings and taught the students the importance of being financially independent at a young age especially in this age where inflation is on the rise.
        </p>

        <p>
          8.	The students were hosted by a lawyer from the district court of Islamabad where he taught students how rewarding the career can be and how to get in to the stream where they can become lawyers
        </p>

        <p>
          9.	An MBBS (Bachelors of Medicine and Bachelors of Surgery) student was invited from Rawalpindi Medical University where she taught students how to develop a mindset in order to get into the field, what could be some pros and con’s and how many universities offer MBBS in the twin cities. She also taught them the various fields that they can specialize in after the 5-year undergraduate degree.
        </p>

        <p>
          10.	A BDS (Bachelors of Dental Surgery) student was invited from Foundation Medical University where she taught the students what it feels like to be a dentist and what fields you can pursue into after being a dentist, she also taught the students the importance of saving their energy in fields that are more draining like in health care
        </p>

        <p>
          11.	A biotechnology student from International Islamic University was invited for the session on her field of study where she talked to the students about how the constant devotion of biotechnologists in the pandemic helped inspire her to choose this field and what are some of the thing’s biotechnologists do in their workforce.
        </p>

        <p>
          12.	A final year physiotherapy student was invited from Rawalpindi Medical University where she taught the students about underlying student motivations about choosing careers and how physiotherapy has made lives easier for people. She also taught the students about the various fields and job roles physiotherapists take in their field and in the workforce.
        </p>

        <p>
          13.	A student from the Graphic Designing department from Karachi University was invited for a session online where she taught the students the skills and mindsets required to start a business, what it takes to develop a mindset where you can gain customers from the comfort of your home and how she was able to have 3 jobs completely remotely which is specially important for females.
        </p>

        <h3>14.	Meeting a biotechnologist</h3>
        <p>
          A biotechnology student from International Islamic University was invited for the session on her field of study where she talked to the students about how the constant devotion of biotechnologists during the pandemic helped inspire her to choose this field and what some of the things biotechnologists do in their workforce.
        </p>
        <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
        <h3>15.	Vision setting with parents</h3>
        <p>
          Parents were invited and I helped them understand the importance of financial stability and financial literacy at a young age as well as using digital platforms for promoting small businesses.
        </p>

        <h3>16.	Meeting entrepreneurs:</h3>
        <p>
          CEO of Insights Muhammad Ahmed and the CEO of Eco bricks Kashaf Akhtar were invited to talk about entrepreneurship and how life is as someone running a business independently at a young age. Ahmed runs a company named Inlights where AI is used to create better traffic solutions. Kashaf created Eco bricks to combat climate change by using plastic waste to create smart and sustainable building materials. 
        </p>

        <h3>17.	Market day at school</h3>
        <p>
          The students set up a game gala and business stall at school where they first made a proposal to rent out a place in the school and negotiated a fair deal where they decided to divide profits into 60 : 40 . 40 percent was given to school and 60 percent will be kept by the students to use as startup capital for their businesses.
        </p>

        

      </div><!-- End post content -->

      <!-- End meta bottom -->

    </article>

  </div>
</div><!-- /Blog Details Section -->

  <!-- main end -->

  <!-- footer start -->
  <%- include('partial/footer.ejs') %>
  <!-- footer end -->

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>